/* Menu */
.bg-light {
  background-color: #e3f2fd !important;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #808000;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 20px;
}
body{
background-image: url(ocean.jpg);
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
background-color: #D5F3FE;
}
.container{
	background-color: rgba(13, 152, 186, 0.9);
	font-weight: bold;
	margin-top: 10%;	
	width: 1000px;
	
}
h1{
	color: white;
	font-size: 60px;
	font-family: "Lato", sans-serif;
	text-align: center;
}


.textbox1{
	background-color:rgba(255, 255, 255, 0.9);
	text-align: center;
	font-size: 18px;
	color: rgba( 13, 152, 186);
	margin-top: 10%;
	margin-left:auto;
        margin-right: auto;
	display: flex;	
	width: 50%;
	border-radius: 25px;
	
}
.textbox2{
	color: rgba( 13, 152, 186);
        font-size: 18px;
        background-color: rgba(255, 255, 255, 0.9);
	border-radius: 25px;
        margin-top: 5%;
	margin-left:auto;
	margin-right: auto;
	margin-bottom: 5%;
        display: flex;
        width: 50%;
}
.msg1{
	text-align: center;
	font-family: "Helvetica", "Arial", "sans-serif";
	margin-top: 5%;
	padding: 5px;
	margin-right: 5%;
}
.msg2{
	text-align: center;
        font-family: "Helvetica", "Arial", "sans-serif";
        margin-top: 5%;
        padding: 5px;
        margin-right: 5%;
}
h2{
	text-align:top;
	padding: 25px;
	display: flex;
	align-items: center;
	flex-grow: 1;
	color: rgba( 13, 152, 186);
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}
@media only screen and (max-width:767px){
body{
	background-image: url(ocean.jpg);
}
}
